/*!
 * Orientační výpočet Mistríkova skóre
 *
 * @author Petr Kajzar
 * @copyright First Faculty of Medicine, Charles University, Prague
 * @license MIT license
 *
 * MIT License [English]
 * 
 * Copyright 2017 Petr Kajzar, First Faculty of Medicine, Charles University, Prague
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */


/* tělo stránky */

* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424242;
    background-color: #f5f5f5;
    line-height: 1.5rem;
    margin: 0;
}

/* hlavička a nadpisy */

header {
    padding-left: 40px;
    width: 100%;
    display: flex;
    background-color: #ffbb05;
    
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 1.3rem;
    color: #ffffff;
}

h2 {
    font-size: 2rem;
}

/* hlavní sekce */

main {
    max-width: 1100px;
    margin: 5vh auto;
    background-color: #ffffff;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    padding: 3rem;
}

a {
    color: #0074d9;
    text-decoration: none;
}

p {
    padding: 1rem 0;
}

math {
    font-size: 1.3rem;
    text-align: center;    
}

form {
    margin-bottom: 2rem;
}

form * {
    display: block;
}

textarea {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    padding: 10px;
    font-size: inherit;
    color: #777777;
    width: 80%;
    height: 40vh;
    margin: 0 auto;
}

button {
    cursor: pointer;
    clear: both;
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    border-radius: 0.2rem;
    border: none;
    background: #ffbb05;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    font-size: inherit;
    font-weight: inherit;
    color: #ffffff;
    
}

#vysledek {
    opacity: 0;
    transition: all 0.5s ease-out;
    text-align: center;
}

#skore {
    font-weight: bold;
    border-radius: 50%;
    padding: 0.8rem;
    border: 0.4rem solid #ffffff;
}

/* patička */

footer {
    padding: 32px 16px;
    color: #9e9e9e;
    background-color: #424242;
    widht: 100%;
    font-size: 0.8rem;
}

footer a {
    color: #dddddd;
}

/* responzivní část */

@media(max-width: 1100px) {

    main {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
    }

}